<phpunit 
    bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" 
    colors="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Default">
            <directory>src/tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups>
</phpunit>